<a href="https://colab.research.google.com/github/rohitkuma6443/Python/blob/main/002__003_Keyword_Data_Type_Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Identifer
A Python identifier is the name given by us to something in Python so we can refer to it later. in simple **An identifier is the name of a variable, function, class, module, or object.**

### Python Keywords

**Keywords** are special reserved words in Python.<br> Keywords have predefined meanings and specific functionalities. <br>They are part of the language's syntax and cannot be used as identifiers (variable names, function names, etc.) because they perform specific tasks.

Examples include `if`, `else`, `while`, `for`, `def`, `class`, `import`, `True`, `False`, `None`, etc.

In [ ]:
import keyword

print("All Python Keywords:")
print(keyword.kwlist)
print(f"\nTotal number of keywords: {len(keyword.kwlist)}")

All Python Keywords:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keywords: 35

## Variable In Python
A a variable is used to store data so that we can use it again and again in our program. You can think of a variable as a container that holds a value.

A variable stores information such as numbers, text, or other data types.

## Variable Naming Rules

When creating variables in Python, follow these rules:

1. Must start with a letter or underscore
2. Cannot start with a number
3. No spaces allowed
4. No special characters like @, #, $
5. Variable names are case-sensitive

In [ ]:
age = 28
name = "Rohit"
print(f"my age is {age} and my name is {name}")
#print(f"My age is : {age} and my name is {name}")

my age is 28 and my name is Rohit

## Input Function in Python
The input() function in Python is used to take input from the user at runtime. Whatever the user enters is always taken as text (string)

Syntax
variable_name = input("Message to user")

In [ ]:
name = input("Enter your Name :")
print("Welcome",name)
age = int(input("Enter your age :"))
print("Your age is",age)
print("Double the age ",age*2)

Enter your Name :Rohit
Welcome Rohit
Enter your age :28
Your age is 28
Double the age  56

In [ ]:
salary = float(input("Enter your salary: "))
print(salary)

Enter your salary: 25000
25000.0

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(a + b)

Enter first number: 50
Enter second number: 60
110

## Python Data Types

In Python, every value has a data type. Data types classify the type of data a variable can hold and the operations that can be performed on it. Python is a dynamically typed language, meaning you don't need to explicitly declare the type of a variable; the interpreter infers it at runtime.

### 1. Numeric Types

These types store numeric values. Python supports integers, floating-point numbers, and complex numbers.

*   **`int` (Integers):** Whole numbers, positive or negative, without a decimal point. They can be of arbitrary precision.
*   **`float` (Floating-point numbers):** Numbers with a decimal point or in exponential form. They represent real numbers.
*   **`complex` (Complex numbers):** Numbers with a real and an imaginary part, represented as `a + bj` where `a` is the real part and `b` is the imaginary part.

In [ ]:
# Integers
age = 30
large_number = 12345678901234567890
print(f"age: {age}, Type: {type(age)}")
print(f"large_number: {large_number}, Type: {type(large_number)}")

# Floating-point numbers
price = 19.99
pi = 3.14159
print(f"price: {price}, Type: {type(price)}")
print(f"pi: {pi}, Type: {type(pi)}")

# Complex numbers
complex_num = 3 + 4j
print(f"complex_num: {complex_num}, Type: {type(complex_num)}")

age: 30, Type: <class 'int'>
large_number: 12345678901234567890, Type: <class 'int'>
price: 19.99, Type: <class 'float'>
pi: 3.14159, Type: <class 'float'>
complex_num: (3+4j), Type: <class 'complex'>


### 2. Sequence Types

These are ordered collections of items. They allow you to store multiple values in a specific order.

*   **`str` (Strings):** Immutable sequences of Unicode characters, used to represent text.
*   **`list` (Lists):** Mutable, ordered sequences of items. Items can be of different data types.
*   **`tuple` (Tuples):** Immutable, ordered sequences of items. Similar to lists, but their contents cannot be changed after creation.

In [ ]:
# Strings
name = "Alice"
message = 'Hello World!'
multi_line_string = """This is a
multi-line string."""
print(f"name: {name}, Type: {type(name)}")
print(f"message: {message}, Type: {type(message)}")
print(f"multi_line_string:\n{multi_line_string}, Type: {type(multi_line_string)}")

name: Alice, Type: <class 'str'>
message: Hello World!, Type: <class 'str'>
multi_line_string:
This is a
multi-line string., Type: <class 'str'>

In [ ]:
# Lists
my_list = [1, 2, 3, "apple", True]
print(f"my_list: {my_list}, Type: {type(my_list)}")

my_list: [1, 2, 3, 'apple', True], Type: <class 'list'>

In [ ]:
# Tuples
my_tuple = (10, 20, "banana", False)
print(f"my_tuple: {my_tuple}, Type: {type(my_tuple)}")
# my_tuple.append(30) # This would raise an AttributeError because tuples are immutable

my_tuple: (10, 20, 'banana', False), Type: <class 'tuple'>

### 3. Set Types

These are unordered collections of unique items.

*   **`set` (Sets):** Mutable, unordered collections of unique elements. Used to store unique items and perform mathematical set operations like union, intersection, etc.
*   **`frozenset` (Frozen Sets):** Immutable version of a set. Once created, its elements cannot be changed.

In [ ]:
# Sets
my_set = {1, 2, 3, 2, 4}
print(f"my_set: {my_set}, Type: {type(my_set)}") # Duplicates are automatically removed
my_set.add(5)
print(f"my_set after add: {my_set}")

# Frozen Sets
my_frozenset = frozenset([1, 2, 3, 3])
print(f"my_frozenset: {my_frozenset}, Type: {type(my_frozenset)}")
# my_frozenset.add(4) # This would raise an AttributeError

my_set: {1, 2, 3, 4}, Type: <class 'set'>
my_set after add: {1, 2, 3, 4, 5}
my_frozenset: frozenset({1, 2, 3}), Type: <class 'frozenset'>

### 4. Mapping Type

*   **`dict` (Dictionaries):** Mutable, unordered collections of key-value pairs. Each key must be unique and immutable, while values can be of any type and can be duplicated.

In [ ]:
# Dictionaries
my_dict = {"name": "Bob", "age": 25, "city": "New York"}
print(f"my_dict: {my_dict}, Type: {type(my_dict)}")
print(f"Accessing value by key: {my_dict['name']}")
my_dict["age"] = 26 # Modify value
my_dict["occupation"] = "Engineer" # Add new key-value pair
print(f"my_dict after modification: {my_dict}")

my_dict: {'name': 'Bob', 'age': 25, 'city': 'New York'}, Type: <class 'dict'>
Accessing value by key: Bob
my_dict after modification: {'name': 'Bob', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}

### 5. Boolean Type

*   **`bool` (Booleans):** Represent truth values. They can be either `True` or `False`. Boolean values are often the result of comparison operations.

In [ ]:
# Booleans
is_active = True
is_admin = False
print(f"is_active: {is_active}, Type: {type(is_active)}")
print(f"is_admin: {is_admin}, Type: {type(is_admin)}")

# Result of a comparison
result = (10 > 5)
print(f"result of 10 > 5: {result}, Type: {type(result)}")

is_active: True, Type: <class 'bool'>
is_admin: False, Type: <class 'bool'>
result of 10 > 5: True, Type: <class 'bool'>

### 6. None Type

*   **`NoneType` (`None`):** Represents the absence of a value or a null value. It's a unique object in Python and is often used to signify that a variable has not yet been assigned a meaningful value.

In [ ]:
# None Type
no_value = None
print(f"no_value: {no_value}, Type: {type(no_value)}")

def my_function():
    pass # This function doesn't explicitly return a value

return_value = my_function()
print(f"Function return value: {return_value}, Type: {type(return_value)}")

no_value: None, Type: <class 'NoneType'>
Function return value: None, Type: <class 'NoneType'>

## **Operators**

Operators in Python are used to perform operations on variables and values, such as calculation, comparison, or logical decisions.

**1. Arithmetic Operators**

    Used to perform mathematical calculations like addition, subtraction, multiplication, and division.

**2. Assignment Operators**

    Used to assign values to variables and update their values.

**3. Comparison Operators**

    Used to compare two values and return True or False.

**4. Logical Operators**

    Used to combine multiple conditions and make decisions.

**5. Membership Operators**

    Used to check whether a value is present in a sequence (list, string, tuple).

**6. Identity Operators**

    Used to compare whether two variables refer to the same object in memory.

**7. Bitwise Operators**

    Used to perform operations at the binary (bit) level.

### Arithmetic Operators

| Operator | Meaning             | Example       |
| -------- | ------------------- | ------------- |
| `+`      | Addition            | `5 + 3 = 8`   |
| `-`      | Subtraction         | `5 - 3 = 2`   |
| `*`      | Multiplication      | `5 * 3 = 15`  |
| `/`      | Division            | `5 / 2 = 2.5` |
| `%`      | Modulus (remainder) | `5 % 2 = 1`   |
| `//`     | Floor Division      | `5 // 2 = 2`  |
| `**`     | Exponent / Power    | `2 ** 3 = 8`  |

In [ ]:
# Arithmetic Operators in Python

# Values
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))


# Addition
add = a + b
print("Addition (a + b):", add)

# Subtraction
sub = a - b
print("Subtraction (a - b):", sub)

# Multiplication
mul = a * b
print("Multiplication (a * b):", mul)

# Division
div = a / b
print("Division (a / b):", div)

# Modulus (remainder)
mod = a % b
print("Modulus (a % b):", mod)

# Floor Division
floor_div = a // b
print("Floor Division (a // b):", floor_div)

# Exponent / Power
power = a ** b
print("Exponent (a ** b):", power)

Enter first number: 10
Enter second number: 3
Addition (a + b): 13
Subtraction (a - b): 7
Multiplication (a * b): 30
Division (a / b): 3.3333333333333335
Modulus (a % b): 1
Floor Division (a // b): 3
Exponent (a ** b): 1000

###Assignment Operators

Used to assign or update values to variables.

| Operator | Description               |
| -------- | ------------------------- |
| `=`      | Assign                    |
| `+=`     | Add and assign            |
| `-=`     | Subtract and assign       |
| `*=`     | Multiply and assign       |
| `/=`     | Divide and assign         |
| `%=`     | Modulus and assign        |
| `//=`    | Floor division and assign |
| `**=`    | Exponent and assign       |

In [ ]:
# Assignment Operators in Python

# Basic assignment
x = 10
print("x =", x)

# Add and assign
x += 5  # equivalent to x = x + 5
print("x += 5 ->", x)

# Subtract and assign
x -= 3  # equivalent to x = x - 3
print("x -= 3 ->", x)

# Multiply and assign
x *= 2  # equivalent to x = x * 2
print("x *= 2 ->", x)

# Divide and assign
x /= 4  # equivalent to x = x / 4
print("x /= 4 ->", x)

# Modulus and assign
x %= 3  # equivalent to x = x % 3
print("x %= 3 ->", x)

# Floor division and assign
x = 10
x //= 3  # equivalent to x = x // 3
print("x //= 3 ->", x)

# Exponent and assign
x **= 2  # equivalent to x = x ** 2
print("x **= 2 ->", x)

x = 10
x += 5 -> 15
x -= 3 -> 12
x *= 2 -> 24
x /= 4 -> 6.0
x %= 3 -> 0.0
x //= 3 -> 3
x **= 2 -> 9

In [ ]:
a = 20
b = 30
b += a
print(b)

50